# ======================
# Global / OS / Editors
# ======================
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ======================
# Logs
# ======================
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# ======================
# Node (global safety)
# ======================
node_modules/

# ======================
# Django / Python (BACKEND)
# ======================
idg_backend/db.sqlite3
idg_backend/staticfiles/
idg_backend/media/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.Python

# ======================
# Build artifacts
# ======================
dist/
dist-ssr/
